{% extends 'base.html.twig' %}

{% set page_title = 'field_notes.field_notes' | trans %}
{% set page_title_image = "resource2/ocstyle/images/misc/32x32-home.png" %}

{% import 'macros/geocache.html.twig' as geocache %}

{% block body %}
    <form method="post" action="{{ path('field_notes.delete_multiple') }}">
        <table class="field-notes-list">
            <thead>
                <tr>
                    <th width="22">
                        <input type="checkbox" class="js--check-all" data-checkboxes="input[type=checkbox][name='deleteFieldNotes[]']" />
                    </th>
                    <th colspan="2">{{ 'field_notes.header.geocache' | trans }}</th>
                    <th width="135">{{ 'field_notes.header.date' | trans }}</th>
                    <th width="135">{{ 'field_notes.header.log_type' | trans }}</th>
                    <th width="100">{{ 'field_notes.header.actions' | trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for fieldNote in fieldNotes %}
                    <tr>
                        <td><input type="checkbox" name="deleteFieldNotes[]" value="{{ fieldNote.id }}" /></td>
                        <td>{{ geocache.geocacheIcon(fieldNote.geoCache.type) }}</td>
                        <td>
                            <a href="/viewcache.php?cacheid={{ fieldNote.geoCache.cacheId }}">{{ fieldNote.geoCache.name }}</a><br />
                            {{ fieldNote.text | raw}}
                        </td>
                        <td>{{ fieldNote.date | date('field_notes.date_format' | trans | desc('Y-m-d H:i')) }}</td>
                        <td>{{ ('field_notes.log_type.' ~ fieldNote.type) | trans({}, 'constants') }}</td>
                        <td><a href="/log.php?fieldnoteid={{ fieldNote.id }}">{{ 'field_notes.btn.log_it' | trans }}</a>&nbsp;|&nbsp;<a href="{{ path('field_notes.delete', {id: fieldNote.id}) }}">{{ 'field_notes.btn.delete' | trans }}</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'field_notes.msg.no_field_notes' | trans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" name="submit" class="btn btn-danger btn-sm">
            {% include '_partials/icon.html.twig' with {
                'class': 'test'
            } %}
            {{ 'field_notes.btn.delete_selected' | trans }}
        </button>
    </form>

    <hr align="left" class="spacer" />

    <h3>{{ 'field_notes.msg.upload_new_field_notes' | trans }}</h3>
    {{ form_start(form) }}
        <div>
            {{ form_widget(form.file) }}
            {{ form_label(form.file) }}
            {{ form_errors(form.file) }}
        </div>

        <div>
            {% if form.ignore is defined %}
                {{ form_widget(form.ignore) }}
                {{ form_label(form.ignore) }}
                {{ form_errors(form.ignore) }}
            {% endif %}
        </div>
        <div>
            <input type="submit" id="testing-fieldNotes-submit-button" value="{{ 'field_notes.btn.upload' | trans }}" class="btn btn-default formbutton"/>
        </div>
    {{ form_end(form) }}

{% endblock %}
